* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);
}
body {
  font-size: 1.6rem;
  margin: 0 auto;
  min-width: 100vw;
}
main {
  margin: 0 auto;  
  padding: 1rem 1rem;
  width: fit-content;
}
img {
  width: 5rem;
}
h1 {
  color: var(--Very-light-gray);
  font-size: 3rem;
  margin: 2rem 0;
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  font-weight: 700;
}
p {
  min-width: 17rem;
  min-height: 14rem;

  font-family: "Lexend Deca", sans-serif;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 150%;
  margin-bottom: 2rem;
}
button {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 9999px;
  background: var(--Very-light-gray);
  cursor: pointer;
}
button:hover {
  background: transparent;
  color: var(--Very-light-gray);
  border: 1px solid var(--Very-light-gray);
}
#app {
 
  padding: 3rem 1rem;
  margin: 0 auto;
  width: 100%;
}
.card {
  max-width: 27rem;
  padding: 4rem;
  color: var(--Transparent-white-paragraphs);
}
.sedans {
  border-radius: 8px 8px 0 0;
  background: var(--Bright-orange);
}
.suvs {
  background: var(--Dark-cyan);
}
.luxo {
  background: var(--Very-dark-cyan);
  border-radius: 0 0 8px 8px;
}
.sedans button {
  color: var(--Bright-orange);
}
.sedans button:hover {
  color: var(--Very-light-gray);
}
.suvs button {
   color: var(--Dark-cyan);
}
.suvs button:hover {
  color: var(--Very-light-gray);
}
.luxo button {
  color: var(--Very-dark-cyan);
}
.luxo button:hover {
  color: var(--Very-light-gray);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {
  body {
    
  }
  main {
    margin: 0 auto;    
    padding: 10rem 1rem;
    width: fit-content;
  }
  img {
    width: 6rem;
  }
  #app {
   
    width: 100%;
    display: flex;
  }
  .card {
    max-width: 25rem;
  }
  .sedans {
    border-radius: 8px 0 0 8px;
  }
  .luxo {
    border-radius: 0 8px 8px 0;
  }
}
